@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--app-header-height: 4rem;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
	}

	html,
	body {
		height: 100%;
	}
}
